html
{
	height:100%;
}

body 
{
	background-color: white;
	margin: 0px;
	padding: 0px;
}

p{
	margin: 0px 0px 10px 0px;
}

/*add the border and a special pointer (hand) to a sparkline*/	
.sparkline
{
	cursor: pointer;
	border-style: solid;
    border-width: 1px;
	top: 1px;
}

/*to highlight when hover on a sparkline*/	
.hlt_gray 
{
	border-radius: 5px;
	background: #ebebeb; 
}

h1
{
	text-align: center;
	font-size:30px;
}

.keyword
{
	font-weight: bold;
}

.keyword:hover
{
	border-radius: 5px;
	background: #ebebeb; 
}

.legend
{
	display: inline-block;
}

/*style for the portrait orientation*/
@media all and (orientation:portrait) {
	
	div#left-side{
		background-color: white;
		padding: 10px 20px 20px 20px;
		width: 100%;
		font-size:30px;
		font-family: calibri;
		text-align: justify;
		float: left;
		box-sizing: border-box;
		padding: 10px;		
	}
	
	div#big-chart{
		width:100%;
		margin:auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}
}


/*style for the landscape orientation*/
@media all and (orientation:landscape) {

	div#left-side{
		background-color: white;
		padding: 0px 0px 20px 20px;
		width: 50%;
		font-size:20px;
		font-family: calibri;
		text-align: justify;
		float: left;		
	}

	div.chart{
		width:60%;
		padding: 20px;
		margin:auto;
	}
}

#square-main {
	width: 15px;
	height: 15px;
	background: red;
	display: inline-block;
	border-style: solid;
    border-width: 2px;
}

#square-second {
	width: 15px;
	height: 15px;
	background: blue;
	display: inline-block;
	border-style: solid;
    border-width: 2px;
}

#mytooltip{
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 5px;
    border-radius:6px;
	display:block;
    position:fixed;
    overflow:hidden;
	font-family: calibri;
	font-size: 11pt;
}
